@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInUp1 {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up1 {
  animation: fadeInUp1 0.5s ease-out; /* Increased duration to 1 second */
}

@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up2 {
  animation: fadeInUp2 0.7s ease-out; /* Increased duration to 1 second */
}

@keyframes fadeInUp3 {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up3 {
  animation: fadeInUp3 0.9s ease-out; /* Increased duration to 1 second */
}
