@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp1 {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-up1 {
  animation: fadeInUp1 1.5s ease forwards; /* Increased duration to 1 second */
}

@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-up2 {
  animation: fadeInUp2 2s ease forwards; /* Increased duration to 2 second */
}

@keyframes fadeInUp3 {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-up3 {
  animation: fadeInUp3 2.5s ease forwards; /* Increased duration to 2.5 second */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-In {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeSideway {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-Sideway {
  animation: fadeSideway 1.5s ease-in-out;
}

@keyframes fadeSideway2 {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-Sideway2 {
  animation: fadeSideway2 1.5s ease-in-out;
}
